In [15]:
import pandas as pd

data = pd.read_json("news_dataset.json")

print(data.shape)
data.head()

(12695, 2)

                                                text  category
0  Watching Schrödinger's Cat Die University of C...   SCIENCE
1     WATCH: Freaky Vortex Opens Up In Flooded Lake    SCIENCE
2  Entrepreneurs Today Don't Need a Big Budget to...  BUSINESS
3  These Roads Could Recharge Your Electric Car A...  BUSINESS
4  Civilian 'Guard' Fires Gun While 'Protecting' ...     CRIME

In [16]:
data.category.value_counts()

category
BUSINESS    4254
SPORTS      4167
CRIME       2893
SCIENCE     1381
Name: count, dtype: int64

In [17]:
min_count = 1381

data_bs = data[data.category == "BUSINESS"].sample(min_count, random_state=2022)
data_sp = data[data.category == "SPORTS"].sample(min_count, random_state=2022)
data_cr = data[data.category == "CRIME"].sample(min_count, random_state=2022)
data_sc = data[data.category == "SCIENCE"].sample(min_count, random_state=2022)

In [18]:
data_balanced = pd.concat([data_bs, data_sp, data_cr, data_sc] ,axis=0)

data_balanced.category.value_counts()

category
BUSINESS    1381
SPORTS      1381
CRIME       1381
SCIENCE     1381
Name: count, dtype: int64

In [19]:
target = {'BUSINESS': 0, 'SPORTS': 1, 'CRIME': 2, 'SCIENCE': 3}

data_balanced['category_num'] = data_balanced.category.map(target)
data_balanced.head()

,text,category,category_num
11967,GCC Business Leaders Remain Confident in the F...,BUSINESS,0
2912,From the Other Side; an Honest Review from Emp...,BUSINESS,0
3408,"Mike McDerment, CEO of FreshBooks, Talks About...",BUSINESS,0
502,How to Market Your Business While Traveling th...,BUSINESS,0
5279,How to Leverage Intuition in Decision-making I...,BUSINESS,0

In [20]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(data_balanced['text'], data_balanced['category_num'], random_state=2022, stratify=data_balanced['category_num'])

In [27]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import Pipeline
from sklearn.metrics import classification_report
from sklearn.feature_extraction.text import CountVectorizer

clf = Pipeline(
    [
        ('Vectorizer',CountVectorizer()),
        ('Classifier',MultinomialNB())
    ]
)
clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.8544532947139754