In [1]:
import pandas as pd

In [3]:
dataset = pd.read_csv('spam.csv')
dataset = dataset.dropna()
dataset.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [4]:
dataset.Category.value_counts()

Category
ham     4825
spam     747
Name: count, dtype: int64

In [5]:
dataset['spam'] = dataset['Category'].apply(lambda x: 1 if x=='spam' else 0)
dataset.drop(['Category'], axis=1, inplace=True)
dataset.head()

                                             Message  spam
0  Go until jurong point, crazy.. Available only ...     0
1                      Ok lar... Joking wif u oni...     0
2  Free entry in 2 a wkly comp to win FA Cup fina...     1
3  U dun say so early hor... U c already then say...     0
4  Nah I don't think he goes to usf, he lives aro...     0

In [6]:
from sklearn.model_selection import train_test_split

In [58]:
X_train,X_test, Y_train, Y_test = train_test_split(dataset.Message, dataset.spam, test_size=.2)

In [59]:
X_train[:4]

3348    No problem baby. Is this is a good time to tal...
2499    I know where the  &lt;#&gt;  is, I'll be there...
2436                           Oh ya ya. I remember da. .
382     Yeah sure, give me a couple minutes to track d...
Name: Message, dtype: object

In [60]:
Y_train[:4]

3348    0
2499    0
2436    0
382     0
Name: spam, dtype: int64

In [61]:
from sklearn.feature_extraction.text import CountVectorizer

In [62]:
V = CountVectorizer()

In [63]:
CV = V.fit_transform(X_train.values)
CV

<4457x7785 sparse matrix of type '<class 'numpy.int64'>'
	with 59713 stored elements in Compressed Sparse Row format>

In [64]:
X_train_np = CV.toarray()
X_train_np[:4][0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [65]:
import numpy as np
alphaArray = np.where(X_train_np[0]!= 0)[0]
for i in range(0, len(alphaArray)):
    print(V.get_feature_names_out()[alphaArray[i]])

and
baby
called
good
is
left
message
no
problem
talk
this
time
to

In [81]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB

V = CountVectorizer()
X_train_CV = V.fit_transform(X_train.values)

X_test_CV = V.transform(X_test.values)

model = MultinomialNB()
model.fit(X_train_CV, Y_train)

y_pred = model.predict(X_test_CV)

In [82]:
from sklearn.metrics import classification_report

In [83]:
print(classification_report(Y_test, y_pred))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99       989
           1       0.93      0.90      0.91       126

    accuracy                           0.98      1115
   macro avg       0.96      0.94      0.95      1115
weighted avg       0.98      0.98      0.98      1115

In [106]:
emails = [
    'Hey mohan, can we get together to watch footbal game tomorrow?',
    'Upto 20% discount on parking, exclusive offer just for you. Dont miss this reward!',
    "Notifications involving money owed to you are enticing, aren’t they? “Our records show you overpaid for (a product or service). Kindly supply your bank routing and account number to receive your refund.” Don’t fall for it.",
    "hi Zain, I am going to kerala tomorrow. will you join me?",
    "You have won a lottery of 1 Million dollars. Please send your bank details to get the money."
]

In [107]:
Email_count = V.transform(emails)
model.predict(Email_count)

array([0, 1, 1, 0, 0], dtype=int64)